UUID v4 generation

Random UUIDs are specified in [RFC 4122 Section 4.4](https://tools.ietf.org/html/rfc4122#section-4.4). There are six bits with a fixed value that either give the version number or are reserved for future use. The random UUIDs generated by this crate and labeled `v4` are completely filled with random bytes and thus differ from the RFC. I am aware that it is possible to set the values with `set_version` and `set_variant` and get RFC conforming UUIDs. I think the crate should only generate RFC 4122 UUIDs so the version and variant field can be read. At least the `new_v4` should be renamed to another name like `new_random`.

Sounds reasonable to me! Would you like to send a PR?

Sorry, the crate already generates correct UUIDs: I only missed the [implementation of `Rand` for `Uuid`](https://github.com/rust-lang-nursery/uuid/blob/master/src/lib.rs#L607-617). :confused: 